# See https://github.com/ConsciousML/terragrunt-template-catalog-eks/blob/main/docs/environment-variables.md#github_token
export GITHUB_TOKEN=
# See https://github.com/ConsciousML/terragrunt-template-catalog-eks/blob/main/docs/environment-variables.md#tailscale_oauth_client_id-and-tailscale_oauth_client_secret
export TAILSCALE_OAUTH_CLIENT_ID=
export TAILSCALE_OAUTH_CLIENT_SECRET=
# See https://github.com/ConsciousML/terragrunt-template-catalog-eks/blob/main/docs/environment-variables.md#eks_local_admin_arn
export EKS_LOCAL_ADMIN_ARN=
